.svg-boxplot-board {
  stroke: #000;
  stroke-width: 1;
  fill: #fff;
}
.svg-boxplot-line-x {
  stroke: #000;
  stroke-width: 0.2;
}
.svg-boxplot-line-y {
  stroke: #000;
  stroke-width: 0.2;
}
.svg-boxplot-title-y {
  font-size: 12px;
  font-weight: bold;
  fill: #27A259;
}
.svg-boxplot-label-y {
  text-anchor: end;
  alignment-baseline: middle;
  fill: #000;
  font-weight: bold;
  font-size: 8px;
}
.svg-boxplot-label-line-y {
  stroke: #000;
  stroke-width: 1;
}
.svg-boxplot-median {
  fill: #070091;
  opacity: 0.60;
}
.svg-boxsplot-group-line-y {
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 5, 1;
}
.svg-boxsplot-group-line-x {
  stroke: #000;
  stroke-width: 1;
}
.svg-boxsplot-group-rect {
  fill: #27A259;
}
.svg-boxsplot-group-median {
  stroke: #000;
  stroke-width: 1;
}
.svg-boxsplot-group-circle {
  fill: #ff0000;
}
.testeteste {
  fill: #ff0000;
}
